/* Configuration for loader appearance and animation */
.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Circular shape */
  border: 4px solid hsla(0, 0%, 100%, 0.1); /* Base border color */

  /* Applying a 3D effect */
  -webkit-mask-image: linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 1) 90%);
  mask-image: linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 1) 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}

@keyframes spinner-wiggle {
  30% { transform: perspective(200px) rotateX(66deg); }
  40% { transform: perspective(200px) rotateX(65deg); }
  50% { transform: perspective(200px) rotateX(68deg); }
  60% { transform: perspective(200px) rotateX(64deg); }
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
             spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: hsl(190, 100%, 70%);
}

.spinner:after {
  border-top-color: hsl(50, 80%, 70%);
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-fade {
  20% { opacity: .1; }
  40% { opacity: 1; }
  60% { opacity: .1; }
}

/* Page Background ---------------------------------- */
body {
  display: flex;
  padding: 100px;
  box-sizing: border-box;
  background: radial-gradient(hsl(200, 40%, 20%), hsl(200, 30%, 6%));
}

html, body {
  height: 100%;
}
